.factura-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, sans-serif;
  margin: 20px;
}

.informacion-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

form-container {
  display: flex;
  flex-direction: column;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
}

.cliente-seleccion {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

select {
  margin-bottom: 10px;
  padding: 5px;
}

.detalle-container {
  width: 100%;
  margin-bottom: 20px;
}

.form {
  display: flex;
  flex-direction: column;
}

.entrada-1,
.entrada-2,
.entrada-3 {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

label,
input,
p,
button {
  margin-bottom: 10px;
}

button {
  background-color: #333;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

.precio {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

h3 {
  color: #333;
}

p {
  color: #777;
}

hr {
  margin: 20px 0;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #333;
  color: white;
}
