<p>contacto works!</p>
<form class="form">
    <label for="txtCedula">Cédula</label>
    <input id="txtCedula" name="txtCedula" [(ngModel)]="persona.id">
    <!-- El corchete hace referencia a un get de java -->

    <label for="txtNombre">Nombre</label>
    <input id="txtNombre" name="txtNombre" [(ngModel)]="persona.name">
    <button (click)="savePersona()">Guardar Persona</button>
    <button (click)="eliminarPersona()"> Eliminar persona</button>
</form>

<button (click)="goAcerca()">Acerca de</button>
<button (click)="goListado()">Listado</button>

{{persona.name}} - {{persona.id}}
